<!DOCTYPE html>
<html>
<head>
    <title>Reports</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>Transaction Report</h1>
    <form method="get">
        <label>Start Date: <input type="date" name="startDate"></label>
        <label>End Date: <input type="date" name="endDate"></label>
        <button type="submit">Generate</button>
    </form>
    <ul>
        <% transactions.forEach((transaction) => { %>
            <li><%= transaction.date %> - <%= transaction.amount %> - <%= transaction.transactionType %></li>
        <% }) %>
    </ul>
</body>
</html>
