<!DOCTYPE html>
<html>
<head>
    <title>Transactions</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>Transactions</h1>
    <a href="/">Back</a>
    <ul>
        <% transactions.forEach((transaction) => { %>
            <li><%= transaction.accountType %> - <%= transaction.amount %> - <%= transaction.transactionType %> - <%= transaction.category %></li>
        <% }) %>
    </ul>
</body>
</html>
